<aside class="author" role="complementary">
  <h2>About</h2>
  <p>
    I currently work at [Luma](http://lumahome.com), on kick-ass WiFi tech, in Atlanta, Georgia,

    I strongly believe that great technology should have a global impact. This stems from the fact that I grew up in Nigeria with little exposure to the consumer internet.

    For the last six years, I have focused deeply on web technologies, machine learning, and robotics.
    I have built and deployed complex systems in various programming languages.

    I am currently focused on building real-time consumer products using functional and reactive programming techniques.
  </p>
  {% include about-short.html author=site.author %}
</aside>
